/* Write your CSS here */
@media (min-width: 768px) {
  .con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-set {
    height: 30vh;
    width: 50%;
    margin-top: 10%;
  }
  .f-con {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px 1px;
    border-radius: 8px;
    width: 50%;
  }
  .inp {
    border-style: none;
    color: #475569;
    font-size: 20px;
  }

  .logo {
    height: 20px;
    width: 20px;
    margin: 10px;
  }
  .sub-con {
    display: flex;
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-set {
    height: 30vh;
    width: 50%;
    margin-top: 10%;
  }
  .f-con {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px 1px;
    border-radius: 8px;
    width: 50%;
  }
  .inp {
    border-style: none;
    color: #475569;
    font-size: 20px;
  }

  .logo {
    height: 20px;
    width: 20px;
    margin: 10px;
  }
  .sub-con {
    display: flex;
    margin: 10px;
  }
}
